bigdata-core-test/bigdata/src/resources/xml/counterset.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- DTD for interchange of counter sets. -->
<!ELEMENT c (#PCDATA)>
<!ATTLIST c
	name CDATA #REQUIRED
	type CDATA #REQUIRED
	time CDATA #REQUIRED
>
<!ELEMENT counters (cs+)>
<!ATTLIST counters
	xmlns:xs CDATA #REQUIRED
>
<!ELEMENT cs (c)>
<!ATTLIST cs
	path CDATA #REQUIRED
>
